@import "../variable.scss";
.tooltip_container {
  position: relative;
  display: inline-block;
  width: fit-content;
  .tooltip_trigger {
    cursor: pointer;
  }

  .tooltip_box {
    position: absolute;
    background-color: $white; /* 흰색 배경 */
    color: $default; /* 텍스트 색상 */
    @include paragraph_xsmall;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 4px;
    white-space: nowrap;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 본체 그림자 */
    z-index: 9999;
    /* 화살표 기본 설정 */
    &::after {
      content: ""; /* 반드시 빈 content 설정 */
      position: absolute;
      border-style: solid; /* 화살표 삼각형을 위한 solid 설정 */
      display: block;
      width: 0; /* 너비를 0으로 설정 */
      height: 0; /* 높이를 0으로 설정 */
    }

    &.top {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 10px;

      &.arrow::after {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px 6px 0 6px;
        border-color: $white transparent transparent transparent;
        filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1)); /* 삼각형에만 그림자 적용 */
      }
    }

    &.bottom {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 10px;

      &.arrow::after {
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent $white transparent;
        filter: drop-shadow(0 -2px 4px rgba(0, 0, 0, 0.1)); /* 삼각형에만 그림자 적용 */
      }
    }

    &.left {
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 10px;

      &.arrow::after {
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        border-width: 6px 0 6px 6px;
        border-color: transparent transparent transparent $white;
        filter: drop-shadow(2px 0 4px rgba(0, 0, 0, 0.1)); /* 삼각형에만 그림자 적용 */
      }
    }

    &.right {
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;

      &.arrow::after {
        top: 50%;
        left: -6px; /* 툴팁 본체 왼쪽으로 살짝 배치 */
        transform: translateY(-50%);
        border-width: 6px 6px 6px 0;
        border-color: transparent #fff transparent transparent; /* 오른쪽만 흰색 */
        filter: drop-shadow(-2px 0 4px rgba(0, 0, 0, 0.1)); /* 삼각형에만 그림자 적용 */
      }
    }
  }

  .tooltip_trigger:hover + .tooltip_box {
    opacity: 1;
    visibility: visible;
  }
}

.snackbar {
  width: 359px;
  min-height: 56px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 8px 24px 0px #091e4226, 0px 0px 1px 0px #091e421a;
  background-color: $btn_enable;
  padding: 0 8px 0 12px;
  box-sizing: border-box;
  > .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    > span {
      @include paragraph_medium;
    }
  }
  > button {
    min-width: 54px;
    min-height: 32;
    border: none;
  }
}

.flag_root {
  min-width: 368px;
  width: 368px;
  min-height: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 2px;
  &.expand {
    // min-height: fit-content;
    height: 144px;
    transition: height 0.5s;
    > button {
      > img {
        transform: rotate(180deg);
        transition: all 0.3s;
      }
    }
    > .des {
      // min-height: fit-content;
      transition: opacity 2s;
      height: 88px;
      opacity: 1;
    }
  }
  &.shrink {
    height: 56px;
    transition: height 0.5s;
    > .des {
      transition: opacity 0.1s;
      height: 0;
      opacity: 0;
    }
  }
  &.normal {
    box-shadow: 0px 8px 12px 0px #091e4226, 0px 0px 1px 0px #091e421a;
    div > span {
      color: $default;
    }
  }
  &.success {
    background-color: $bolder_green_enable;
  }
  &.error {
    background-color: $bolder_red_enable;
  }
  &.warning {
    background-color: $subtle_yellow_enable;
    span {
      color: $default !important;
    }
  }
  &.info {
    background-color: $subtle;
  }
  > .title {
    width: 100%;
    height: 56px;
    min-height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
    cursor: pointer;
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      column-gap: 12px;
      color: $white;
      > span {
        @include body_medium;
        font-weight: 600;
      }
    }
    > img {
      transition: all 0.3s;
    }
  }
  > .des {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 52px 16px;
    box-sizing: border-box;
    row-gap: 8px;
    height: 0px;
    > span {
      @include body_medium;
      color: $white;
    }
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      column-gap: 8px;
    }
  }
}
