@import "../variable.scss";

.buttons {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  border-radius: 4px;
  transition: background 0.5s;
  max-width: fit-content;
  padding: 0 6px;
  box-sizing: border-box;
  &:disabled {
    background-color: $disabled !important;
    color: $disabled_default !important;
  }
  &.has_images {
    justify-content: space-between;
  }
  &.xsmall {
    min-width: 54px;
    min-height: 32px;

    > span {
      @include body_medium;
    }
  }
  &.small {
    min-width: 66px;
    min-height: 32px;

    > span {
      @include body_medium;
    }
  }
  &.small.no_text {
    min-width: 32px;
    min-height: 32px;
  }
  &.medium {
    min-width: 54px;
    min-height: 40px;

    > span {
      @include body_medium;
    }
  }
  &.large {
    min-width: 54px;
    min-height: 44px;

    > span {
      @include body_medium;
    }
  }
  &.primary {
    background-color: $bolder_blue_enable;
    color: $white;
    &:hover {
      background-color: $bolder_blue_hover;
    }
    &:focus {
      outline: 2px solid $border_focus;
      border: 2px solid $white;
      background-color: $bolder_blue_enable;
    }
    &:active {
      background-color: $bolder_blue_pressed;
    }
    // &:enabled {
    //   background-color: $blue100;
    //   outline: none;
    //   border: none;
    //   span {
    //     @include body_medium;
    //     color: $blue700;
    //   }
    // }
  }
  &.warning {
    background-color: $subtle_yellow_enable;
    color: $default;
    &:hover {
      background-color: $subtle_yellow_hover;
    }
    &:focus {
      outline: 1px solid $border_focus;
      border: 2px solid $white;
      background-color: $subtle_yellow_enable;
    }
    &:active {
      background-color: $subtle_yellow_pressed;
    }
    // &:enabled {
    //   background-color: $blue100;
    //   outline: none;
    //   border: none;
    //   span {
    //     @include body_medium;
    //     color: $blue700;
    //   }
    // }
  }
  &.danger {
    background-color: $bolder_red_enable;
    color: $white;
    &:hover {
      background-color: $bolder_red_hover;
    }
    &:active {
      background-color: $bolder_red_pressed;
    }
    &:focus {
      outline: 1px solid $border_focus;
      border: 2px solid $white;
    }
    // &:enabled {
    //   background-color: $blue100;
    //   outline: none;
    //   border: none;
    //   span {
    //     @include body_medium;
    //     color: $blue700;
    //   }
    // }
  }
  &.default {
    background-color: $btn_enable;
    color: $default;
    &:hover {
      background-color: $btn_hover;
    }
    &:focus {
      outline: 2px solid $border_focus;
      border: 2px solid $white;
    }
    &:active {
      background-color: $btn_pressed;
    }
    // &:enabled {
    //   background-color: $blue100;
    //   outline: none;
    //   border: none;
    //   span {
    //     @include body_medium;
    //     color: $blue700;
    //   }
    // }
  }
  &.subtle {
    background-color: $white;
    color: $default;
    &:hover {
      background-color: $btn_stop_hover;
    }
    &:focus {
      outline: 2px solid $border_focus;
      border: 2px solid $white;
      background-color: $white;
    }
    &:active {
      background-color: $btn_stop_pressed;
    }
    // &:enabled {
    //   background-color: $blue100;
    //   outline: none;
    //   border: none;
    //   span {
    //     @include body_medium;
    //     color: $blue700;
    //   }
    // }
  }
  &.link {
    background-color: $white;
    color: $border_focus;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: 1px solid $border_focus;
      border: 2px solid $white;
      background-color: $white;
    }
    &:active {
      text-decoration: underline;
    }
    // &:enabled {
    //   background-color: $blue100;
    //   outline: none;
    //   border: none;
    //   span {
    //     @include body_medium;
    //     color: $blue700;
    //   }
    // }
  }
  &.subtle_link {
    background-color: $white;
    color: $subtlest;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      outline: 1px solid $border_focus;
      border: 2px solid $white;
      background-color: $white;
    }
    &:active {
      text-decoration: underline;
    }
    // &:enabled {
    //   background-color: $blue100;
    //   outline: none;
    //   border: none;
    //   span {
    //     @include body_medium;
    //     color: $blue700;
    //   }
    // }
  }
}

.tag {
  min-height: 20px;
  padding: 0 2px 0 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: none;
  column-gap: 4px;
  background-color: $btn_enable;
  &:hover {
    background-color: $btn_hover;
  }
  &:active {
    background-color: $btn_pressed;
  }
  &.square {
    border-radius: 2px;
  }
  &.round {
    border-radius: 19px;
  }
  > span {
    @include body_medium;
  }
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 32px;
  height: 32px;
  > button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &.current {
      border-bottom: 1.5px solid $border_focus;
      > span {
        color: $process;
      }
      &:hover {
        border-bottom: 1.5px solid $border_focus;
      }
      &:active {
        border-bottom: 1.5px solid $border_neutral300A;
      }
    }
    &:hover {
      border-bottom: 1.5px solid $border_neutral300A;
    }
    &:active {
      > span {
        color: $default;
      }
    }
    > span {
      @include body_medium;
      color: $subtlest;
    }
  }
}
