@import "../variable.scss";
.text_input_root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
  }
  > div {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    > img {
      cursor: pointer;
    }
  }
  > .text_input {
    outline: none;
    &.small {
      min-width: 240px;
      min-height: 40px;
      padding: 0 8px;
      box-sizing: border-box;
      &::placeholder {
        @include body_medium;
      }
      &.is_image {
        padding-left: 42px;
      }
    }
    &.standard {
      border: 2px solid $border_neutral300A;
      background-color: $white;
      &:hover {
        border: 2px solid $border_neutral300A;
        background-color: $etc_hover;
      }
      &:focus {
        border: 2px solid $border_focus;
        background-color: $white;
      }
      &:disabled {
        border: 2px solid $border_neutral300A;
        background-color: $disabled;
        color: $disabled_default;
      }
    }
    &.subtle {
      border: 2px solid transparent;
      background-color: $white;
      &:hover {
        border: 2px solid $border_neutral300A;
        background-color: $etc_hover;
      }
      &:focus {
        border: 2px solid $border_focus;
        background-color: $white;
      }
      &:disabled {
        border: none;
        background-color: $white;
        color: $disabled_default;
      }
    }
    &.none {
      border: 2px solid transparent;
      background-color: $white;

      &:disabled {
        border: none;
        background-color: $white;
        color: $disabled_default;
      }
    }
    &.error {
      border: 2px solid $border_red600 !important;
    }
  }
}

.checkbox {
  width: 100%;
  height: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  > input {
    display: none;
  }
  > input[type="checkbox"] + label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-position: left center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    @include body_medium;
    &.enable {
      background-image: url("/icons/checkbox/checkbox_enable.svg");
      &:hover {
        background-image: url("/icons/checkbox/checkbox_enable_hover.svg");
      }
    }
    &.error {
      background-image: url("/icons/checkbox/checkbox_error.svg");
      &:hover {
        background-image: url("/icons/checkbox/checkbox_error_hover.svg");
      }
    }
    // &:focus {
    //   background-image: url("/icons/checkbox/checkbox_focus.svg");
    //   &:hover {
    //     background-image: url("/icons/checkbox/checkbox_focus_hover.svg");
    //   }
    // }
    &.small {
      background-size: 16px;
      padding-left: 20px;
    }
    &.medium {
      background-size: 24px;
      padding-left: 24px;
    }
    &.large {
      background-size: 32px;
      padding-left: 36px;
    }
  }
  > input[type="checkbox"]:disabled + label {
    background-image: url("/icons/checkbox/checkbox_disabled.svg") !important;
    color: $disabled_default;
  }
  > input[type="checkbox"]:disabled:checked + label {
    background-image: url("/icons/checkbox/checkbox_disabled_checked.svg") !important;
    color: $disabled_default;
  }
  > input[type="checkbox"]:checked + label {
    &.enable {
      background-image: url(/icons/checkbox/checkbox_enable_checked.svg);
      &:hover {
        background-image: url("/icons/checkbox/checkbox_enable_checked_hover.svg");
      }
    }
    &.error {
      background-image: url("/icons/checkbox/checkbox_error_checked.svg");
      &:hover {
        background-image: url("/icons/checkbox/checkbox_error_checked_hover.svg");
      }
    }
    // &:focus {
    //   background-image: url("/icons/checkbox/checkbox_focus_checked.svg");
    //   &:hover {
    //     background-image: url("/icons/checkbox/checkbox_focus_checked_hover.svg");
    //   }
    // }
  }
}
.radio_input {
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  > input {
    display: none;
  }
  > input[type="radio"] + label {
    cursor: pointer;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-left: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    @include body_medium;
    background-image: url("/icons/radio/radio_enable.svg");
    &:hover {
      background-image: url("/icons/radio/radio_enable_hover.svg");
    }
  }
  > input[type="radio"]:disabled + label {
    background-image: url("/icons/radio/radio_disabled.svg") !important;
    color: $disabled_default;
  }
  > input[type="radio"]:disabled:checked + label {
    background-image: url("/icons/radio/radio_disabled_checked.svg") !important;
    color: $disabled_default;
  }
  > input[type="radio"]:checked + label {
    &.enable {
      background-image: url("/icons/radio/radio_enable_checked.svg");
      &:hover {
        background-image: url("/icons/radio/radio_enable_checked.svg");
      }
    }
    &.error {
      background-image: url("/icons/radio/radio_error_checked.svg");
      &:hover {
        background-image: url("/icons/radio/radio_error_checked.svg");
      }
    }
  }
}

.text_field {
  min-width: 400px;
  height: 160px;
  min-height: 160px;
  position: relative;
  background-color: $white;
  > textarea {
    border: 2px solid $border_neutral300A;
    padding: 12px 8px;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 160px;
    outline: none;
    z-index: 4;
    background-color: transparent;
    // -webkit-appearance: none;
    background-image: url("/icons/resize.svg");
    background-repeat: no-repeat;
    background-position: right 8px bottom 12px;

    &::-webkit-resizer {
      border: 2px solid transparent;
      outline: 2px solid transparent;
    }

    &:hover {
      background-color: $etc_hover;
    }
    &:focus {
      border: 2px solid $border_focus;
      background-color: $white;
    }
    &:disabled {
      border: 2px solid $border_neutral300A;
      background-color: $disabled;
      color: $disabled_default;
    }
  }
  > .clear {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 8px;
  }
}

.password_input {
  min-width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-top: 30px;
  &.small {
    min-height: 40px;
    height: 40px;
    > input {
      @include body_medium;
    }
  }
  &.medium {
    min-height: 40px;
    height: 48px;
    > input {
      @include body_medium;
    }
  }
  &.large {
    min-height: 40px;
    height: 56px;
    > input {
      @include body_large;
    }
  }
  > img {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
  > input {
    width: 100%;
    height: 100%;
    outline: none;
    &.small.image {
      padding-left: 38px;
    }
    &.small.no_image {
      padding-left: 8px;
    }
    &.medium.image,
    &.large.image {
      padding-left: 42px;
    }
    &.medium.no_image,
    &.large.no_image {
      padding-left: 12px;
    }
    &.standard {
      border: 2px solid $border_neutral300A;

      &:hover {
        background-color: $etc_hover;
        cursor: pointer;
      }
      &:focus {
        background-color: $white;
        border: 2px solid $border_focus;
      }
      &:disabled {
        background-color: $disabled_enable;
        border: 2px solid $border_neutral300A;
        color: $disabled_default;
        &::placeholder {
          color: $disabled_default;
        }
      }
    }
    &.subtle {
      border: none;

      &:hover {
        background-color: $etc_hover;
        border: 2px solid $border_neutral300A;
        cursor: pointer;
      }
      &:focus {
        background-color: $white;
        border: 2px solid $border_focus;
      }
      &:disabled {
        border: none;
        background-color: $white;
        color: $disabled_default;
        &::placeholder {
          color: $disabled_default;
        }
      }
    }
    &.none {
      border: none;

      &:hover {
        background-color: $white;
        border: none;
        cursor: pointer;
      }
      &:focus {
        background-color: $white;
        border: none;
      }
      &:disabled {
        border: none !important;
        background-color: $white;
        color: $disabled_default;
        &::placeholder {
          color: $disabled_default;
        }
      }
    }
    &.error {
      border: 2px solid $border_red600;
    }
  }
  > div {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 6px;
    > img {
      cursor: pointer;
    }
  }
}
.filedrop_root {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  .filedrop {
    min-width: 300px;
    width: 300px;
    height: 150px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px dashed $border_neutral300A;
    background-color: $subtlest_neutral_enable;
    transition: "background-color 0.3s ease";
    cursor: pointer;
    &.active {
      border: 2px dashed $border_focus;
      background-color: $btn_dropdown;
    }
    > p {
      @include body_medium;
      color: $subtlest;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 10px;
      > span {
        > p {
          @include body_medium;
          color: $subtlest;
        }
      }
      &.success {
        > span {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          column-gap: 4px;
          > p {
            color: $default;
          }
        }
      }
      &.error {
        > span {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          column-gap: 4px;
          > p {
            color: $default;
          }
        }
      }
    }
  }
  .notice {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    > span {
      @include body_small;
      color: $subtlest;
    }
  }
}
