@import "@/styles/variable.scss";

.page_title_component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  > span {
    @include heading_large;
    color: $default;
  }
}

.search_area_component {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
